@charset 'utf-8';

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding-top: 30px;
}

.footer {
    height: 60px;
    color: #d5d9dd;
    background-color: #22272a;
    border-top: 1px solid #d5d9dd;
    padding-top: 20px;
}

.footer p {
    margin: 0;
}

.terms-list button {
    margin-bottom: 1em;
}

.terms-list button a {
    color: #fff;
    text-decoration: none;
}

.jumbotron_box {
    padding:1rem;
    margin-bottom:1rem;
    background-color:#f1f2f4;
    border-radius:.8rem}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn2-primary {
    color: #fff;
    background-color: #e68a00;
    border-color: #ffb84d;
}
.btn2-primary:hover {
    color: #fff;
    background-color: #ffad33;
    border-color: #ffd699;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}